.contact__container {
    grid-template-columns: repeat(1);
    justify-content: center;
    column-gap: 3rem;
    padding-bottom: 3rem;
}

.contact__info {
    display: grid;
    row-gap: 1rem;
    grid-template-columns: 300px;
}

.contact__card {
    background-color: var(--container-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 1rem;
    border-radius: 0.75rem;
    text-align: center;
}

.contact__card-icon {
    font-size: 1.5rem;
    color: var(--title-color);
    margin-bottom: var(--mb-0-25);
}

.contact__card-data {
    font-size: var(--small-font-size)
}